/** Education **/

.certificates_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
  max-width: 550px;
  padding: 3px;

  @media (min-width: 768px) {
    max-width: 546px;
  }

  .certificate_image {
    border-radius: 15px;
    padding: 10px;
  }

}

.control-arrow {
  background: rgba(0, 0, 0, 0) !important;
}

.carousel-indicators {
  margin-bottom: 0px !important;
}

.carousel-caption {
  padding: 0px !important;
}