/** Education **/

.certificates_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
  max-width: 550px;
  padding: 3px;


  @media (min-width: 1441px) {
    max-width: 718px;
  }

  h2 {
    margin-bottom: -80px !important;

    @media (min-width: 500px) {
      margin-bottom: -60px !important;
    }

    @media (min-width: 768px) {
      margin-bottom: -30px !important;
    }

    @media (min-width: 1441px) {
      margin-bottom: 20px !important;
    }
  }

  .buttons_container {
    margin-top: -110px !important;

    @media (min-width: 500px) {
      margin: -25px 0px 25px 0px !important;
    }

    @media (min-width: 768px) {
      margin: -30px 0px 25px 0px !important;
    }

    @media (min-width: 1441px) {
      margin: 25px 0px 25px 0px !important;
    }
  }

}

.certificado {
  border-radius: 10px !important;
  object-fit: contain;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

}


.carousel-indicators {
  margin-bottom: 140px !important;


  @media (min-width: 500px) {
    margin-bottom: 100px !important;
  }

  // @media (min-width: 768px) {
  //   margin-bottom: 80px !important;
  // }

  @media (min-width: 1441px) {
    margin-bottom: 48px !important;
  }
}