/** pageMain **/

.mainPage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
  animation: fadeIn .5s ease-in-out;
}

.color_title {
  display: flex;
  padding: 10px;
  margin-top: 90px;
  font-weight: 100;
  font-size: 35px;
  font-family: 'Poppins', monospace, sans-serif !important;
  font-weight: 900;
  //animation: izquierda .9s 1 backwards linear 0.2s;
  transition: all 0.5s;

  @media (min-width: 768px) {
    font-size: 50px;
  }

  @media (min-width: 1024px) {
    font-size: 70px;
  }
}

.rainbow_bg {
  background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2));
}


.full_stack_title {
  font-size: 25px;
  text-align: center;
  color: white;
  font-weight: 300;
  //animation: derecha .7s 1 backwards linear 0.3s;

  @media (min-width: 768px) {
    font-size: 40px;
  }

  @media (min-width: 1024px) {
    font-size: 50px;
  }
}

.full_stack_title span {
  font-family: monospace;
  color: #11ffbd;
  filter: drop-shadow(0 0 50px turquoise);
  font-weight: bolder;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;



}

.full_stack_title:hover span {
  color: orange;
  filter: drop-shadow(0px 0px 20px orange);
}

.javascript_title {
  font-size: 25px;
  text-align: center;
  color: whitesmoke;
  font-size: 15px;
  font-weight: 0;
  font-weight: 300;
  margin-bottom: 50px;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: abajo .7s 1 backwards linear .8s;
  display: none;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  &:hover {
    color: rgb(255, 251, 0);
    cursor: pointer;
    filter: drop-shadow(0px 0px 20px orange);
  }
}



.button_animation {
  //animation: abajo .7s 1 backwards linear .9s;
}