/** pageMain **/

.mainPage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color_title {
  display: flex;
  padding: 10px;
  margin-top: 90px;
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 35px;
  font-family: "Poppins", arial;

  @media (min-width: 768px) {
    font-size: 50px;
  }

  @media (min-width: 1024px) {
    font-size: 70px;
  }
}

.rainbow_bg {
  background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.full_stack_title {
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: "Poppins", arial;

  @media (min-width: 768px) {
    font-size: 40px;
  }

  @media (min-width: 1024px) {
    font-size: 50px;
  }

  span {
    color: #11ffbd;
    filter: drop-shadow(0 0 50px turquoise);
    font-weight: bolder;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    font-family: monospace;


    &:hover span {
      color: orange;
      filter: drop-shadow(0 0 50px orange);
    }
  }
}

.javascript_title {
  font-size: 25px;
  text-align: center;
  color: $font-color;
  font-family: "Poppins", arial;
  font-size: 20px;
  font-weight: 0;
}