/**  Portfolio **/

.portfolio_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 800px;
    z-index: 9;

}

.project-item {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    width: 170px;
    height: 170px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 3px 2px 6px 1px #0000000e;
    margin: 5px;
    z-index: 99;

    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        transition: all .3s ease;
    }


    .preject-header {

        h3 {
            color: #ffffff;
            font-size: 16px;
            text-shadow: none;
            display: flex;
            font-weight: 300;
            flex-direction: column;
            padding: 10px;
            margin: 0;

        }
    }



    .project-image {
        img {
            border-radius: 10px;
            padding: 2px;
        }
    }



}