.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 60px;
    margin-bottom: 40px;
    max-width: 400px;
    padding: 20px 30px 0px 30px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: relative;
    z-index: 9;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.6);



    @media (min-width: 768px) {
        max-width: 900px;
        padding: 25px 40px;
    }

    h2 {
        margin-top: 0px !important;
        font-size: 35px !important;

        @media (min-width: 768px) {
            font-size: 50px !important;
        }
    }

    p {
        color: white;
        margin-bottom: 10px;
        font-weight: 300;
    }
}


.project-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9;
    gap: 10px;
    max-width: 700px;


    @media (min-width: 768px) {
        flex-direction: row;
        gap: 30px;
    }

    .project-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 15px 0px 15px;
        gap: 15px;

        .tech_container {
            display: flex;
            gap: 7px 10px;
            width: 310px;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            padding: 5px;
            margin-bottom: 5px;

            img {
                transition-duration: 150ms;
                margin: 2px;
                filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));

                &:hover {
                    transform: scale(1.5);
                    margin: 2px;
                    cursor: pointer;
                }

                &:active {
                    filter: drop-shadow(0px 0px 0px white);
                }
            }
        }


        .project-thumbnail {
            border-radius: 10px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        }

        h3 {
            color: white;
            font-size: 16px;
            padding-top: 10px;
            text-align: center;
            font-weight: 400;

        }

        .project-card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h3 {
                color: white;
                font-size: 14px;
                padding-top: 20px;
                text-align: center;
                font-weight: 400;

            }


            p {
                color: white;
                padding: 5px;
                font-weight: 200;
                text-align: justify;
            }



            .tech-box {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                //margin-left: 25px;


                div {
                    .tech_ico {

                        padding: 5px;
                        object-fit: contain;
                        transition: all .2s ease;
                        filter: grayscale(10%);

                        &:hover {
                            transform: scale(2);
                            filter: none;
                        }
                    }
                }



                .button-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    margin-top: 20px;

                    img {
                        width: 21px;

                    }

                    a {
                        margin: 0;
                        width: 100px;
                        margin-right: 10px;
                    }
                }

            }


        }
    }


}

.transition-opacity {
    transition: opacity .2s ease;
}

.opacity-0 {
    opacity: 0;
}

.duration-2s {
    transition-duration: .5s;
}

.duration-1s {
    transition-duration: .3s;
}

.display-none {
    display: none;
}

.github-icon {
    &:hover {
        scale: 1.1;
    }
}