main > section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 0 auto;
  padding: calc(var(--nav-height) + var(--space-6)) 0 var(--space-8);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
