/**  Skills**/
.hover-me {
  color: white;
  font-weight: 300;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

}

.skills_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: initial !important;
  z-index: 99 !important;

}


.cubes_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 10px;
  gap: 10px;

  @media (min-width: 768px) {
    max-width: 550px;
  }

  @media (min-width: 1024px) {
    max-width: 995px;
  }


  .skill-item {
    align-items: center;
    background-color: hsl(0deg 0% 0% / 25%);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 120px;
    justify-content: center;
    margin: 5px;
    text-align: center;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    backdrop-filter: blur(3px) !important;
    -webkit-backdrop-filter: blur(3px) !important;
    width: 120px;

    img {
      filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
    }

    p {
      font-weight: 300;
      margin-bottom: 2px;
    }

  }



  .skill-hover-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 120px;
    height: 120px;
    position: absolute;
    transition: all ease-in-out 0.2s;
    border-radius: 10px;
    opacity: 0;


    &:active,
    &:hover {
      opacity: 1;
      border-radius: 10px;
      //transform: scale(1.1);
      -webkit-backdrop-filter: blur(2px) !important;
      backdrop-filter: blur(2px) !important;

    }


    progress[value] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 20px;
    }

    label {
      padding-right: 10px;
      font-size: 16px;
      font-weight: 500;
    }
  }

  img {
    width: 100px;
    padding: 10px;
  }
}