$radius-sm: 5px;
$radius-md: 5px;
$radius-lg: 5px;
$radius-xl: 5px;
$radius-pill: 5px;

:root {
  --radius-sm: #{$radius-sm};
  --radius-md: #{$radius-md};
  --radius-lg: #{$radius-lg};
  --radius-xl: #{$radius-xl};
  --radius-pill: #{$radius-pill};
}
