$font-sans: "Poppins", sans-serif;
$font-mono: ui-monospace, "Cascadia Code", "SFMono-Regular", Menlo, monospace;

$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-extrabold: 800;
$weight-black: 900;

:root {
  --font-sans: #{$font-sans};
  --font-mono: #{$font-mono};
  --text-caption: 0.8125rem;
  --text-body: 1rem;
  --text-h2: 1.5rem;
  --text-h1: 2rem;
  --text-display: 2.5rem;
}

@media (min-width: 768px) {
  :root {
    --text-h2: 1.75rem;
    --text-h1: 2.5rem;
    --text-display: 3.5rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --text-h2: 2rem;
    --text-h1: 3rem;
    --text-display: 4.5rem;
  }
}
