/** Body **/

$color1: rgb(50, 197, 210);
$color2: rgb(72, 16, 106);

$porcentaje: 40%;

$color1: #8E2DE2;
$color2: #12c2e9;
$color3: #c471ed;
$color4: #f64f59;
$darkenPercentage: 40%;
$darkenPercen: 10%;


html {
    scroll-behavior: smooth;
}

body {
    transition: background-color 0.3s ease;
    background: linear-gradient(90deg, hsla(185, 64%, 51%, 1) 0%, hsla(277, 74%, 24%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(185, 64%, 51%, 1) 0%, hsla(277, 74%, 24%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(185, 64%, 51%, 1) 0%, hsla(277, 74%, 24%, 1) 100%);
    background-attachment: fixed;
    font-family: 'Poppins', monospace, sans-serif;
    color: white;

    &.dark {
        background: darken($color1, $porcentaje);
        background: linear-gradient(90deg, darken($color1, $porcentaje) 0%, darken($color2, $porcentaje) 100%);
        background: -moz-linear-gradient(90deg, darken($color1, $porcentaje) 0%, darken($color2, $porcentaje) 100%);
        background: -webkit-linear-gradient(90deg, darken($color1, $porcentaje) 0%, darken($color2, $porcentaje) 100%);
        background-attachment: fixed;
    }

    /* &.home{
        background: #6407b6;
        background: -webkit-linear-gradient(to top, #1f005e, #8E2DE2);
        background: linear-gradient(to top, #1f005e, #8E2DE2);   
        background-attachment: fixed;  
    
    } */

                                &.about {
        background: #8E2DE2;
        background: -webkit-linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
        background: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
        background-attachment: fixed;
&.dark {
        background: darken($color1, $darkenPercentage);


        background: linear-gradient(90deg, darken($color2, $darkenPercentage), darken($color3, $darkenPercentage), darken($color4, $darkenPercentage));
        background: -moz-linear-gradient(90deg, darken($color2, $darkenPercentage), darken($color3, $darkenPercentage), darken($color4, $darkenPercentage));
        background: -webkit-linear-gradient(90deg, darken($color2, $darkenPercentage), darken($color3, $darkenPercentage), darken($color4, $darkenPercentage));
        background: -webkit-linear-gradient(90deg, darken($color2, $darkenPercentage), darken($color3, $darkenPercentage), darken($color4, $darkenPercentage));
        background: -webkit-linear-gradient(90deg, darken($color2, $darkenPercentage), darken($color3, $darkenPercentage), darken($color4, $darkenPercentage));
        background-attachment: fixed;
    }
    }


                                &.portfolio {
        background: #00d2ff;
        background: -webkit-linear-gradient(to bottom, #001a3e, #00d2ff);
        background: linear-gradient(to top, #001a3e, #00d2ff);
        background-attachment: fixed;
&.dark {

        background: darken(#00d2ff, $darkenPercentage);

        background: linear-gradient(to bottom,
                darken(#001a3e, $darkenPercentage),
                darken(#00d2ff, $darkenPercentage));
        background: -webkit-linear-gradient(to bottom,
                darken(#001a3e, $darkenPercentage),
                darken(#00d2ff, $darkenPercentage));
        background-attachment: fixed;
    }
    }

&.contact {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);

    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background-attachment: fixed;
    &.dark {
            background: #0f0c29;
            background: -webkit-linear-gradient(to right, darken(#24243e, $darkenPercen), darken(#302b63, $darkenPercen), darken(#0f0c29, $darkenPercen));

    background: linear-gradient(to right, darken(#24243e, $darkenPercen), darken(#302b63, $darkenPercen), darken(#0f0c29, $darkenPercen));
        background-attachment: fixed;

    }



}

.tracker {
    width: 100px;
    height: 100px;

    script {
        opacity: 0;
        display: none;
    }
}

h2 {
    font-weight: 800 !important;
    color: white !important;
    font-size: 40px !important;
    margin-top: 70px !important;
    transition-duration: 150ms;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;

    @media (min-width: 768px) {
        font-size: 55px !important;
        /*   margin-top: 35px !important; */
    }

    @media (min-width: 1024px) {
        font-size: 60px !important;
        /*   margin-top: 35px !important; */
    }

}
}