/** Variables **/

/** Font color **/
$font-color: rgb(255, 255, 255);

/* Colors */

$color-primary: rgb(255, 255, 255);
$color-secondary: rgb(0, 0, 0);

/** Borde de color de slide about**/
$border-color: turquoise;

// $primary_color: #fafafa;
// $secondary-color:rgb(223, 233, 233);

/* Theme colors */

$theme-light: white;

$theme-dark: #1f2023;
$theme-dark-less: #22272e;
$theme-dark-less-1: #27282d;



/* End theme colors */

$color-light-gray: grey;
$color-dark-gray: #1d1d1d;
$color-light-pink: rgb(238, 170, 255);
$color-light-purple: rgb(174, 107, 190);